@media(max-width:768px) {
    .navbar-toggler {
        margin: 15px;
    }
    .carousel-caption h2 {
        font-size: 32px !important;
        padding: 0 40px !important;
    }
    .about {
        padding: 0;
    }
    .option-left:nth-child(2) {
        height: 450px;
    }
    .digital-product-right {
        height: 500px;
    }
    .digital-product-content {
        margin-top: 20px;
    }
    .creative-content:nth-child(2) {
        border-right: 0px;
    }
    .experience-right {
        height: 450px;
    }
    .experience-left {
        padding: 0 !important;
    }
    .start-counter .start-card {
        margin-bottom: 20px !important;
    }
    .clients-card {
        margin-bottom: 30px !important;
    }
    .about-left h3 {
        opacity: 0.9;
        font-size: 34px;
    }
    .about-company-content p {
        padding: 0;
    }
    .about-company-content {
        padding: 0 20px;
    }
    .footer {
        padding: 100px 15px;
    }
    .blogs-content h2::before {
        left: 39%;
    }
}

@media(max-width:991px) {
    .broder-right-left {
        border-left: none;
    }
    .broder-right-left {
        border-left: 1px solid;
        border-right: 0;
    }
    .carousel-caption h2 {
        font-size: 46px !important;
        padding: 0 50px !important;
    }
    .start-counter .start-card {
        margin-bottom: 30px !important;
    }
}